<%- content_for(:title, "Mededelingen") %>

<h2>Mededelingen</h2>
<div style="padding-bottom: 10px;">
  <% if is_admin? %>
    <%= link_to 'Nieuwe mededeling plaatsen', new_announcement_path %>
  <% end %>
</div>
<% if @announcements.count > 0 %>
  <%= render 'list', announcements: @announcements %>
<% else %>
  <p>Er zijn nog geen mededelingen geplaatst.</p>
<% end %>
