<%- content_for(:title, "Mijn superteam") %>

<h2>Superteam samenstellen</h2>
<div class="p-2 px-3" style="background: #fdd4c5">De deadline is verstreken en het is niet meer mogelijk om de opstelling aan te passen.</div>
