<%- content_for(:title, "Mijn superteam") %>

<script type="text/javascript">
$(document).ready(function() {
  enableSubmit();

  <% unless flash[:notice] =~ /Superteam is opgeslagen/  %>
    validateSuperTeam();
  <% end %>

  Supermanager.initialize();

  $('#box_formation ul > li > a').click(function() {
    Supermanager.showModal($(this), $(this).text());
  });

  $('#box_coach > p > a').click(function() {
    Supermanager.showModal($(this), 'Kies een coach', 'coach');
  });

  $('#box_bonusplayer > p > a').click(function() {
    Supermanager.showModal($(this), 'Kies een bonusspeler', 'bonusplayer');
  });

  $('.box a').click(function() {
    return false;
  });
});
</script>

<h2>Superteam samenstellen</h2>
<div class="p-2 px-3 mb-4" style="background: #fdd4c5">De deadline is verstreken en het is niet meer mogelijk om de opstelling aan te passen.</div>

<div id="supermanager" class="disabled">
  <div id="box_formation" class="box">
    <ul class="three-cols">
      <li id="player-d-1"><a href="#">Linksbuiten</a></li>
      <li id="player-d-2"><a href="#">Spits</a></li>
      <li id="player-d-3"><a href="#">Rechtsbuiten</a></li>
    </ul>
    <ul class="three-cols">
      <li id="player-c-1"><a href="#">Linker middenvelder</a></li>
      <li id="player-c-2"><a href="#">Centrale middenvelder</a></li>
      <li id="player-c-3"><a href="#">Rechter middenvelder</a></li>
    </ul>
    <ul class="four-cols">
      <li id="player-b-1"><a href="#">Links back</a></li>
      <li id="player-b-2"><a href="#">Centrale verdediger</a></li>
      <li id="player-b-3"><a href="#">Centrale verdediger</a></li>
      <li id="player-b-4"><a href="#">Rechts back</a></li>
    </ul>
    <ul class="one-col">
      <li id="player-a-1"><a href="#">Doelman</a></li>
    </ul>
  </div>
  <div id="box_coach" class="box">
    <p><a href="#">Kies een coach</a></p>
  </div>
  <div id="box_bonusplayer" class="box">
    <p><a href="#">Kies een bonusspeler</a></p>
  </div>
  <div id="box_budget" class="box">
    <p>&euro;36.000.000</p>
  </div>
  <div id="box_submit" class="box disabled">
  </div>
</div>
