<script type="text/javascript">
$(document).ready(function() {
  enableSubmit();

  Supermanager.initialize();

  $('#box_formation ul > li > a').click(function() {
    Supermanager.showModal($(this), $(this).text());
  });

  $('#box_coach > p > a').click(function() {
    Supermanager.showModal($(this), 'Kies een coach', 'coach');
  });

  $('#box_bonusplayer > p > a').click(function() {
    Supermanager.showModal($(this), 'Kies een bonusspeler', 'bonusplayer');
  });

  $('.box a').click(function() {
    return false;
  });
});
</script>

<h2>Superteam samenstellen</h2>
<p style="line-height: 1.7;">Lees nog eens <%= link_to 'de spelregels', rules_path %> door om te zien hoe u uw superteam samenstelt. <strong>Tip</strong>: U kunt na het invullen van een geldig superteam nog steeds wijzigingen maken (mits de deadline nog niet verstreken is). De deadline is zaterdag 14 september om 18:00 uur.</p>

<div id="supermanager">
  <div id="box_formation" class="box">
    <ul class="three-cols">
      <li id="player-d-1"><a href="#">Linksbuiten</a></li>
      <li id="player-d-2"><a href="#">Spits</a></li>
      <li id="player-d-3"><a href="#">Rechtsbuiten</a></li>
    </ul>
    <ul class="three-cols">
      <li id="player-c-1"><a href="#">Linker middenvelder</a></li>
      <li id="player-c-2"><a href="#">Centrale middenvelder</a></li>
      <li id="player-c-3"><a href="#">Rechter middenvelder</a></li>
    </ul>
    <ul class="four-cols">
      <li id="player-b-1"><a href="#">Links back</a></li>
      <li id="player-b-2"><a href="#">Centrale verdediger</a></li>
      <li id="player-b-3"><a href="#">Centrale verdediger</a></li>
      <li id="player-b-4"><a href="#">Rechts back</a></li>
    </ul>
    <ul class="one-col">
      <li id="player-a-1"><a href="#">Doelman</a></li>
    </ul>
  </div>
  <div id="box_coach" class="box">
    <p><a href="#">Kies een coach</a></p>
  </div>
  <div id="box_bonusplayer" class="box">
    <p><a href="#">Kies een bonusspeler</a></p>
  </div>
  <div id="box_budget" class="box">
    <p>&euro;36.000.000</p>
  </div>
  <div id="box_submit" class="box">
  </div>
</div>
