<script type="text/javascript">
$(document).ready(function() {
  // enableSubmit();

  Supermanager.initialize();

  // $('#box_formation ul > li > a').click(function() {
  //   Supermanager.showModal($(this), $(this).text());
  // });

  // $('#box_coach > p > a').click(function() {
  //   Supermanager.showModal($(this), 'Kies een coach', 'coach');
  // });

  // $('#box_bonusplayer > p > a').click(function() {
  //   Supermanager.showModal($(this), 'Kies een bonusspeler', 'bonusplayer');
  // });

  // $('.box a').click(function() {
  //   return false;
  // });
});
</script>

<h2>Superteam</h2>
<p style="line-height: 1.7;">Bekijk hieronder uw superteam van het seizoen 2017-2018.</p>

<div id="supermanager">
  <div id="box_formation" class="box">
    <ul class="three-cols">
      <li id="player-d-1"><a href="javascript:void(0);">Linksbuiten</a></li>
      <li id="player-d-2"><a href="javascript:void(0);">Spits</a></li>
      <li id="player-d-3"><a href="javascript:void(0);">Rechtsbuiten</a></li>
    </ul>
    <ul class="three-cols">
      <li id="player-c-1"><a href="javascript:void(0);">Linker middenvelder</a></li>
      <li id="player-c-2"><a href="javascript:void(0);">Centrale middenvelder</a></li>
      <li id="player-c-3"><a href="javascript:void(0);">Rechter middenvelder</a></li>
    </ul>
    <ul class="four-cols">
      <li id="player-b-1"><a href="javascript:void(0);">Links back</a></li>
      <li id="player-b-2"><a href="javascript:void(0);">Centrale verdediger</a></li>
      <li id="player-b-3"><a href="javascript:void(0);">Centrale verdediger</a></li>
      <li id="player-b-4"><a href="javascript:void(0);">Rechts back</a></li>
    </ul>
    <ul class="one-col">
      <li id="player-a-1"><a href="javascript:void(0);">Doelman</a></li>
    </ul>
  </div>
  <div id="box_coach" class="box">
    <p><a href="javascript:void(0);">Kies een coach</a></p>
  </div>
  <div id="box_bonusplayer" class="box">
    <p><a href="javascript:void(0);">Kies een bonusspeler</a></p>
  </div>
  <div id="box_budget" class="box">
    <p>&euro;36.000.000</p>
  </div>
</div>
