<% if flash[:alert] || flash[:notice] %>
  <div class="flashes" style="margin-bottom: -10px">
    <% [:alert, :notice].each do |key| %>
      <% if flash[key] %>
        <%= content_tag :div, flash[key], class: key %>
      <% end %>
    <% end %>
  </div>
<% end %>
