<div id="welcome" class="left" style="width:65%;">
  <h2>Welkom bij de Supermanager</h2>
  <p>Ook dit jaar kunt u weer deelnemen aan het superteam van Ajax B.
    Na het grote aantal deelnemers in 2013 – 2014 hopen we ook dit jaar op een grote belangstelling. <br />
    <br />
    Na aftrek van het prijzengeld gaat de opbrengst naar de jeugd van<br />
    Ajax B. Dit jaar willen we proberen de 100 deelnemers te halen en is het prijzenschema veranderd.
    We hopen op een grote deelname, ook van de jeugdspelers van Ajax B.
   </p>
</div>

<%= render 'sponsors/list', sponsors: @sponsors %>

<div id="announcements">
  <% if @announcements.count > 0 %>
    <%= render 'announcements/list', announcements: @announcements %>  
    <div style="margin-top: 20px;">
      <%= link_to 'Lees alle mededelingen', announcements_path %>
      <% if is_admin? %>
        | <%= link_to 'Nieuwe mededeling', new_announcement_path %>
      <% end %>
    </div>
  <% end %>
</div>
  
