<div id="welcome" class="left" style="width:60%;">
  <h2>Welkom bij de Supermanager</h2>
  <p>
    Dit seizoen voor de 21ste keer ons Superteam. We hopen dat jullie ook dit keer weer willen deelnemen! Stimuleer ook anderen, zodat we weer veel deelnemers krijgen. <br /><br />
Het prijzenschema wordt gewijzigd. De maandprijzen vervallen, maar elke ronde is er één prijs voor de winnaar. We spelen 30 rondes, dus 30x een prijs.
  </p>
</div>

<%= render 'sponsors/list', sponsors: @sponsors %>

<div id="announcements">
  <% if @announcements.count > 0 %>
    <%= render 'announcements/list', announcements: @announcements %>
    <div style="margin-top: 20px;">
      <%= link_to 'Lees alle mededelingen', announcements_path %>
      <% if is_admin? %>
        | <%= link_to 'Nieuwe mededeling', new_announcement_path %>
      <% end %>
    </div>
  <% end %>
</div>
