<%- content_for(:title, "Spelregels") %>

<h2>Spelregels van de Supermanager</h2>

<h3>Hoe stelt u uw team samen?</h3>
<ol>
  <li>We spelen in het <strong>4 – 3 – 3</strong> systeem: d.w.z. <strong>1 doelman</strong>, <strong>4 verdedigers</strong>, <strong>3 middenvelders</strong> en <strong>3 aanvallers</strong>. A = doelman, B = verdediger, C = middenvelder, D = aanvaller.</li>
  <li>Daarnaast kunt u een <strong>bonusspeler </strong>opstellen. Deze speler mag niet meer dan <strong>€2 miljoen</strong> kosten. Geen beperking wat positie betreft. De bonusspeler kan niet van Ajax, PSV of Feyenoord zijn.</li>
  <li>Van <strong>elke club</strong> mag in uw team maar <strong>één speler</strong> opgesteld worden.</li>
  <li>Ook kunt u de meest succesvolle coach van de Eredivisie opstellen.</li>
  <li>Een directe rode kaart kost dit seizoen 6 punten.</li>
  <li>In de winter zijn 4 transfers mogelijk. Dit kost niets.</li>
</ol>
<h3>Het beschikbare budget</h3>
<p>Het budget is ongewijzigd vastgesteld op <strong>€36 miljoen</strong> voor de elf spelers. <strong>De bonusspeler, ter waarde van 2 miljoen, telt hierbij niet mee.</strong></p>

<h3>Kosten</h3>
<dl>
  <dt>Jeugd t/m 17 jaar</dt>
  <dd><strong>€8,00</strong> per deelnemer.</dd>
  <dt>Overigen</dt>
  <dd><strong>€15,00</strong> per deelnemer.</dd>
</dl>
<p>Betaling: óf  contant in envelop bij opgave óf via de bank: Rabobank <strong>NL18RABO03104.53.372</strong> t.n.v. N.J. Huntink.<br />
  S.v.p. naam vermelden. </p>

<h3>Puntentelling</h3>
<h4>Spelers</h4>
<table width="85%" border="0">
  <tbody>
    <tr>
      <th></th>
      <th>Doelman A</th>
      <th>Verdediger B</th>
      <th>Middenvelder C</th>
      <th>Aanvaller D</th>
    </tr>
    <tr class="odd">
      <td>Per gespeelde wedstrijd</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Per gewonnen wedstrijd</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr class="odd">
      <td>Per gelijkspel</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Per doelpunt</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr class="odd">
      <td>Nul tegendoelpunten </td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Per directe rode kaart</td>
      <td>-6</td>
      <td>-6</td>
      <td>-6</td>
      <td>-6</td>
    </tr>
    <tr class="odd">
      <td>E&eacute;n gele kaart</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <td>Geel - rood</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
    </tr>
    <tr class="odd">
      <td>Per gemiste penalty</td>
      <td>-4</td>
      <td>-4</td>
      <td>-4</td>
      <td>-4</td>
    </tr>
    <tr>
      <td>Per gestopte penalty</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr class="odd">
      <td>Eigen doelpunt</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
    </tr>
  </tbody>
</table>
<h4>Coach</h4>
<table width="35%">
  <tbody>
    <tr class="odd">
      <td>Winst</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Gelijk</td>
      <td>3</td>
    </tr>
    <tr class="odd">
      <td>Verlies</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Rood (tribune)</td>
      <td>-6</td>
    </tr>
    <tr class="odd">
      <td>Ontslag</td>
      <td>-10</td>
    </tr>
  </tbody>
</table>
<p>De bonusspeler haalt op alle posities (positief of negatief) <strong>dubbele punten.</strong></p>

<a name="team_poule"></a>
<h3>Ploegenklassement</h3>
<p>Deelname aan  het ploegenklassement is kosteloos. Samen met <strong>drie andere deelnemers</strong> kunt  u een ploeg vormen. De gezamenlijke punten bepalen de stand. Doe dus mee en vorm samen een ploeg: met collega's, buren, teamgenoten of familieleden.</p>
<h3>Standen</h3>
<p>De standen  worden wekelijks via mail verzonden, staan op <a href="http://www.ajaxb.nl">de website van Ajax B</a> en je kunt inloggen op de website. Puntentelling: teletekst NOS is uitgangspunt en controle via Voetbal International. <strong><em>Geseponeerde rode kaarten</em></strong> worden wel verwerkt, gele niet.</p>

<h3>Minimum deelname</h3>
<p>Om het spel succesvol te spelen is een minimum deelname van 50 noodzakelijk.</p>

<h3>Prijzenschema</h3>
<p>Dit is afhankelijk van deelname. Het prijzenschema wordt na sluiting van de inschrijving bekend gemaakt. Zal ongeveer hetzelfde zijn als afgelopen jaren. </p>

<h3>Transferperiode in de winter</h3>
<p>1 januari 2022 t/m 31 januari 2023: Er mogen dan maximaal vier spelers worden gewisseld inclusief de bonusspeler. Hierover volgt dan bericht met de regels hiervoor. Deze transfers zijn gratis. </p>

<h3>Spelerslijst</h3>
<p>
  Alle spelers zijn <%= link_to 'onderverdeeld per club', clubs_path %>.
  Van elke speler is de waarde en positie aangegeven.
  Als spelers na <strong>12 september 2021</strong> en vertrekken ze naar de
  1ste divisie of buitenland dan krijgen ze geen punten meer.
  In de Eredivisie blijven ze dan toch gewoon meetellen.
  Tijdens de transferperiode kan men ze wisselen.
</p>
