<h2>Spelregels van de Supermanager</h2>

<h3>Hoe stelt u uw team samen?</h3>
<ol>
  <li>We spelen in het <strong>4 – 3 – 3</strong> systeem: d.w.z. <strong>1 doelman</strong>, <strong>4 verdedigers</strong>, <strong>3 middenvelders</strong> en <strong>3 aanvallers</strong>. A = doelman, B = verdediger, C = middenvelder, D = aanvaller.</li>
  <li>Daarnaast kunt u een <strong>bonusspeler </strong>opstellen. Deze speler mag niet meer dan <strong>€2 miljoen</strong> kosten. Geen beperking wat positie betreft. De bonusspeler kan niet van Ajax, PSV of Feyenoord zijn.</li>
  <li>Van <strong>elke club</strong> mag in uw team maar <strong>één speler</strong> opgesteld worden.</li>
  <li>Ook kunt u de meest succesvolle coach van de Eredivisie opstellen.</li>
  <li>Een directe rode kaart kost dit seizoen 6 punten.</li>
</ol>
<h3>Het beschikbare budget</h3>
<p>Het budget is ongewijzigd vastgesteld op <strong>€36 miljoen</strong> voor de elf spelers. <strong>De bonusspeler telt hierbij dus niet mee.</strong></p>

<h3>Kosten</h3>
<dl>
  <dt>Jeugd t/m 17 jaar</dt>
  <dd><strong>€8,00</strong> per deelnemer.</dd>
  <dt>Overigen</dt>
  <dd><strong>€15,00</strong> per deelnemer.</dd>
</dl>
<p>Betaling: óf  contant in envelop bij opgave óf via de bank: Rabobank <strong>NL18RABO03104.53.372</strong> t.n.v. N.J. Huntink.<br />
  S.v.p. naam vermelden. </p>

<h3>Puntentelling</h3>
<h4>Spelers</h4>
<table width="85%" border="0">
  <tbody>
    <tr>
      <th></th>
      <th>Doelman A</th>
      <th>Verdediger B</th>
      <th>Middenvelder C</th>
      <th>Aanvaller D</th>
    </tr>
    <tr class="odd">
      <td>Per gespeelde wedstrijd</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Per gewonnen wedstrijd</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr class="odd">
      <td>Per gelijkspel</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Per doelpunt</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr class="odd">
      <td>Nul tegendoelpunten </td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Per directe rode kaart</td>
      <td>-6</td>
      <td>-6</td>
      <td>-6</td>
      <td>-6</td>
    </tr>
    <tr class="odd">
      <td>E&eacute;n gele kaart</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <td>Geel - rood</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
    </tr>
    <tr class="odd">
      <td>Per gemiste penalty</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
    </tr>
    <tr>
      <td>Per gestopte penalty</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr class="odd">
      <td>Eigen doelpunt</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
      <td>-3</td>
    </tr>
  </tbody>
</table>
<h4>Coach</h4>
<table width="35%">
  <tbody>
    <tr class="odd">
      <td>Winst</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Gelijk</td>
      <td>3</td>
    </tr>
    <tr class="odd">
      <td>Verlies</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Rood (tribune)</td>
      <td>-6</td>
    </tr>
    <tr class="odd">
      <td>Ontslag</td>
      <td>-10</td>
    </tr>
  </tbody>
</table>
<p>De bonusspeler haalt op alle posities (positief of negatief) <strong>dubbele punten.</strong></p>

<a name="team_poule"></a>
<h3>Ploegenklassement</h3>
<p>Deelname aan  het ploegenklassement is kosteloos. Samen met <strong>drie andere deelnemers</strong> kunt  u een ploeg vormen. De gezamenlijke punten bepalen de stand. Doe dus mee en vorm samen een ploeg: met collega's, buren, teamgenoten of familieleden. Extra maandprijs vanaf dit seizoen.</p>
<h3>Standen</h3>
<p>De standen  worden wekelijks via mail verzonden, bij CR. Koenders en in het clubhuis van  Ajax B gepubliceerd. Puntentelling: teletekst NOS is uitgangspunt en controle  via Voetbal International. <strong><em>Geseponeerde rode kaarten</em></strong> worden wel verwerkt, gele niet.</p>

<h3>Minimum deelname</h3>
<p>Om het spel succesvol te spelen is een minimum deelname van 50 noodzakelijk. Bij minder dan 50 deelnemers gaat het spel niet door en krijgt men het inleggeld terug.</p>

<h3>Prijzenschema</h3>
<p>Dit is afhankelijk van deelname en er worden de volgende prijzen gehanteerd: </p>
<ol>
  <li><strong>Maandprijs:</strong> 1ste, 2de  en 3de prijs.</li>
  <li><strong>Winterstop:</strong> 1ste t/m 3de prijs individueel. 1ste en 2de prijs team.</li>
  <li><strong>Eindstand:</strong> 1ste t/m 8de prijs individueel. 1ste t/m 5de prijs team</li>
</ol>
<p><em>De hoogte van de prijzen worden i.v.m. wet op de kansspelen later bekend gemaakt!</em></p>

<h3>Transferperiode</h3>
<p>25 december 2015 t/m 31 januari 2016: Er mogen dan maximaal vier spelers worden gewisseld inclusief de bonusspeler. Hierover volgt dan bericht met de regels hiervoor. Deze transfers zijn gratis. Het inleggeld is iets verhoogd.</p>

<h3>Spelerslijst</h3>
<p>Alle spelers zijn <%= link_to 'onderverdeeld per club', clubs_path %>. Van elke speler is de waarde en positie aangegeven. Als spelers na 31 augustus 2015 wisselen van club in de Eredivisie blijven hun punten meetellen. Vertrekken ze naar de 1ste divisie of buitenland dan krijgen ze geen punten meer. Tijdens de transferperiode kan men ze wisselen.</p>
