<%- content_for(:title, "Registratie voltooid") %>

<h2>Bedankt!</h2>
<p>U bent geregistreerd en doet mee aan het supermanager spel. Er is een email verzonden met een <strong>link waarmee u kunt inloggen</strong>. U kunt daarna uw superteam samenstellen. Deze kunt u wijzigen tot de sluitingsdatum: zaterdag 10 september 18.00 uur.</p>

<p>Heeft u na vijf minuten nog geen email ontvangen? <strong>Check uw spamfolder</strong>. Of probeer dan <%= link_to 'hier in te loggen', login_path %>.</p>
