<% reset_cycle %>

<div style="float: left; width: 45%;">
  <h3 class="clear"><%= type %></h3>
  <table border="0" class="left">
    <tbody>
      <tr>
        <th>Naam</th>
        <th>Waarde</th>
      </tr>
      <% players.each do |player| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= player.name %></td>
          <td><%= player.value %> miljoen</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
