<?php
$spelers = mysql_query("
  SELECT `naam`, `positie`, `waarde`
  FROM `spelers`
  WHERE `club_id` = '" . mysql_real_escape_string($_GET['club']) . "' AND NOT `waarde` IS NULL
  ORDER BY `positie`, `waarde`, `naam`
") or die(mysql_error());

$aantal_spelers = mysql_num_rows($spelers);

$meta = mysql_fetch_object(mysql_query("
  SELECT `club_id`, `club_naam`, `naam` AS `coach`
  FROM `spelers` 
  WHERE `club_id` = '" . mysql_real_escape_string($_GET['club']) . "'
  AND `positie` = 'Coach'
  LIMIT 1
"));

$posities = array(
  'a' => 'Doelman',
  'b' => 'Verdediger',
  'c' => 'Middenvelder',
  'd' => 'Aanvaller'
);
?>
<h2><%= link_to players_list

  <a href="/spelerslijst">Spelerslijst</a> &raquo; <?php echo $meta->club_naam; ?></h2>
<h3>Coach</h3>
<p><?php echo $meta->coach; ?></p>
<h3 class="clear">Spelers</h3>
<table border="0" class="left">
  <tbody>
    <tr>
      <th>Naam</th>
      <th>Positie</th>
      <th>Waarde &times;10<sup>6</sup></th>
    </tr>
    <?php $i = 0; while ($i < $aantal_spelers / 2 && ($row = mysql_fetch_object($spelers)) == TRUE): ?>
    <tr<?php if ($i % 2 <> 1) echo ' class="odd"'; $i++; ?>>
      <td><?php echo htmlentities($row->naam); ?></td>
      <td><?php echo $posities[$row->positie]; ?></td>
      <td>&euro;<?php echo $row->waarde; ?></td>
    </tr>
    <?php endwhile; ?>
  </tbody>
</table>
<table border="0" class="right">
  <tbody>
    <tr>
      <th>Naam</th>
      <th>Positie</th>
      <th>Waarde &times;10<sup>6</sup></th>
    </tr>
    <?php while (($row = mysql_fetch_object($spelers)) == TRUE): ?>
    <tr<?php if ($i % 2 <> 1) echo ' class="odd"'; $i++; ?>>
      <td><?php echo htmlentities($row->naam); ?></td>
      <td><?php echo $posities[$row->positie]; ?></td>
      <td>&euro;<?php echo $row->waarde; ?></td>
    </tr>
    <?php endwhile; ?>
  </tbody>
</table>
