<h3><%= link_to "Tussenstand", weekly_rankings_path %></h3>

<table class="w-full">
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Naam</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd highlight">
      <td colspan="3"><em>Er is nog geen tussenstand beschikbaar.</em></td>
    </tr>
  </tbody>
</table>
