form {
  padding: 5px 0;

  #error_explanation {
    border: 1px #b00d0e solid;
    background-color: #fff5f5;
    padding: 10px;
    margin: 5px 5px 15px 5px;
    
    h3 {
      color: #b00e0e;
      margin: 5px;
      font-size: 16px;
    }

    ul {
      padding-bottom: 10px;
    }
  }

  & > fieldset {
    margin: 5px 5px 20px;
    padding: 10px 25px;
    border: 1px dotted #999;
    overflow: hidden; 
    
    & > legend {
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 15px 0;
      padding: 5px;
    }


    label, input, select, span {
      display: block;
      float: left;
      padding: 2px;
      margin: 10px 0;       
    }

    label {
      width: 40%;
      clear: left;
    }

    input {
      width: 40%;
    }

    #contestant_team_name {
      margin-left: 265px;
      width: 290px;
      clear: both;
    }

    span {
      padding: 0;

      select {
        padding: 0;
        margin: 0;
        float: none;
        display: inline;
      }
    }

    select {
      min-width: 100px;
    }
  }
}
