form {
  padding: 5px 0; 

  & > fieldset {
    margin: 5px 5px 20px;
    padding: 10px 25px;
    border: 1px dotted #999;
    
    & > legend {
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 15px 0;
      padding: 5px;
    }

    dl {
      padding: 0;
      overflow: hidden; 

      dt, dd {
        padding: 5px 0;
        overflow: hidden; 
      }

      dt {
        width: 35%; 
      }

      dt > label, dd > input {
        display: block;
        float: left;
        padding: 0;
        margin: 0;        
      }

      dd > input {
        width: 250px;
      }
    }
  }
}

button { 
  border: 0; 
  cursor: pointer; 
  font-weight: bold; 
  padding: 0 8px 0 0;
  margin: 0;
  text-align: center; 

  span { 
    display: block; 
    white-space: nowrap; 
    padding: 0 7px 0 15px; 
  }

  &.cta {
    background: image-url('cta/button_end.jpg') right center no-repeat;

    span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #404040;
      text-shadow: #FFF 1px 1px 0;
      filter: dropshadow(color=#FFF, offx=1, offy=1);
      font-weight: bold;
      height: 36px; 
      line-height: 36px;
      background: image-url('cta/button.jpg') left center no-repeat;
    }

    &:hover {
      background: image-url('cta/button_hover_end.jpg') right center no-repeat; 

      span {
        color: #79B10E;
        background: url('cta/button_hover.jpg') left center no-repeat; 
      }
    }
  }
}
