ol, ul {
  padding-left: 40px; 
}
ul > li, ol > li {
  padding: 2px 0;
  margin: 0;
}
dl {
  overflow: hidden; 
}
dl > dt, dl > dd {
  display: block;
  float: left;
  padding: 2px 0;
}
dl > dt {
  width: 90px;
  clear: left;
}
dl > dd {
  margin-top: 0; 
}
