#main > .nav {
  background: image-url('nav.png') no-repeat 0 0;
  width: 760px;
  height: 40px;
  margin: 20px 0 0 0;

  ul {
    display: block;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    
    li {
      float: left;
      display: block;
      margin: 0;
      font-weight: bold;
      color: #79B10E;
      padding: 0 20px;
      margin: 10px 0;
      font-size: 14px;
      border-left: 1px #999 solid;

      a {
        color: #FFF;
        text-decoration: none;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    li:first-child {
      border-left: none;
    }
  }
}
