#main > .nav {
  background: linear-gradient(to top, #000, #202020);
  border-radius: 3px;
  margin: 0 30px;
  line-height: 1;

  ul {
    display: flex;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: block;
      margin: 0;
      font-weight: bold;
      color: #79b10e;
      font-size: 16px;
      padding: 15px 25px;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: normal;
        margin: -15px -25px;
        padding: 15px 25px;
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }

      a.important {
        color: #ffa37d;
        border-bottom: 1px #ffa37d dotted;
      }

      a.important:hover {
        text-decoration: none;
        border-bottom-style: solid;
      }
    }

    li + li:before,
    li + li:after {
      content: "";
      position: absolute;
      top: 15px;
      bottom: 15px;
      left: 0;
      border-left: 1px #eee solid;
    }

    li + li:after {
      left: -1px;
    }
  }
}
