table {
  margin: 10px 0 15px 0;
  padding: 0; 
  border: 1px #eee solid;
  display: table;
  
  th, td {
    padding: 5px;
    text-align: left; 
  }
  
  tr.odd {
    background-color: #eee;
    border: 1px #eee solid;
  }

  th {
    font-weight: bold;
  }
}
