// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.announcement .meta {
  color: #333;
  font-size: 12px;
}

#announcements {
  clear: both;
  padding: 10px 0;
}

div.announcement {
  margin-bottom: 25px;
  background: #fafafa;
}

div.announcement > em {
  color: #333;
  font-size: 12px;
}

.announcement__header {
  display: flex;
  border: 1px #eee solid;
  padding: 10px;
  background: white;
}

.announcement__avatar {
  background: #eee;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.announcement__content {
  padding: 10px;
  padding-bottom: 0;
}

.announcement__footer {
  padding: 10px;
  padding-top: 0;
}
