/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ./components
 *= require 'boxy'
 */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-image: image-url('grass.jpg');
  margin: 20px;
  padding: 0;
}

#container {
  width: 840px;
  margin: 0 auto;
  padding: 0;

  & > .top, #main, & > .bottom {
    height: 40px;
    padding: 0 40px;
    background: no-repeat top center;
  }

  & > .top {
    background-image: image-url('top.png');
  }

  & > .bottom {
    background-image: image-url('bottom.png');
  }

  #main {
    height: 100%;
    background-image: image-url('main.png');
  }
}


