// Place all the styles related to the LoginRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation ul {
  padding-bottom: 5px !important;
}

.new_login_request {
  padding: 15px;
  margin: 5px 0;
  background: #f4f4f4;

  .field {
    float: left;

    label, input {
      display: block;
      float: left;
    }
    label {
      padding-left: 0;
      padding-right: 25px;
      line-height: 25px;
    }
    input {
      width: 250px;
      padding: 3px;
    }
  }

  .action {
    float: left;
    margin-left: 25px;
  }
}