// Place all the styles related to the Superteams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#supermanager {
  width: 721px;
  height: 521px;
  background: url("supermanager.jpg") no-repeat -20px -20px;
  margin-bottom: 10px;
  position: relative;
}
// #supermanager.disabled {
//   pointer-events: none;
// }
#supermanager .box {
  position: absolute;
  /*background-color: rgba(255,128,0,0.5);*/
}
#box_formation {
  left: 5px;
  top: 60px;
  width: 470px;
  height: 440px;
}
#box_coach {
  left: 500px;
  top: 0px;
  width: 220px;
  height: 80px;
}
#box_bonusplayer {
  left: 500px;
  top: 100px;
  width: 220px;
  height: 80px;
}
#box_budget {
  left: 500px;
  top: 200px;
  width: 220px;
  height: 80px;
}
#box_submit {
  left: 500px;
  top: 300px;
  width: 221px;
  height: 41px;
  background: url("submit.jpg") no-repeat;
  cursor: pointer;
}
// #box_submit.disabled {
//   filter: grayscale(1);
//   pointer-events: none;
// }
#box_submit:hover {
  background: url("submit_hover.jpg") no-repeat;
}

#supermanager a:hover {
  text-decoration: underline !important;
}
#supermanager .box > ul > li {
  display: block;
  text-align: center;
  float: left;
  background: url("shirts/no_sponsor.png") no-repeat center -15px;
  height: 100px;
  margin: 0;
  padding: 0 0 5px 0;
}
#supermanager .box > ul > li > a {
  display: block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 16px;
  height: 32px;
  margin: 68px 0 0;
  padding: 0 15px;
}
#box_formation ul {
  display: block;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
#box_formation ul.one-col > li {
  width: 100%;
}
#box_formation ul.three-cols > li {
  margin-left: 1px;
  width: 33%;
}
#box_formation ul.four-cols > li {
  width: 25%;
}
#box_coach > p,
#box_bonusplayer > p,
#box_budget > p {
  display: block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #79b10e;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 40px 0 0;
  padding: 0;
}
#box_budget > p {
  background: url("budget.png") no-repeat 50px center;
  padding: 0 0 0 10px !important;
}
#supermanager .box > p.debt {
  color: #b00d0e !important;
}
#supermanager .box > p > a {
  text-decoration: none;
  color: #9a9a9a;
}
#form_players {
  margin: 0;
  padding: 5px 0;
}
#form_players > p {
  overflow: hidden;
  margin: 0;
  padding: 5px 10px;
  clear: both;
}
#form_players > p.loading {
  background: url("loader.gif") no-repeat 20px center;
}
#form_players > p > label,
#form_players > p > select,
#form_players > p > span,
#form_players > p > input {
  display: block;
  padding: 5px;
  float: left;
  width: 150px;
  font-family: Verdana, Geneva, sans-serif;
}
#form_players > p > input {
  width: auto;
  float: right;
}
#form_players > p > select {
  width: 300px;
  clear: both;
}
#form_players > p > span > a {
  line-height: 24px;
  color: #79b10e;
  text-decoration: none;
  font-weight: bold;
}
#form_players > p > span > a:hover {
  text-decoration: underline;
}

#status {
  margin: 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#status.busy {
  border: 1px #0e73b0 solid;
  background: url("loader.gif") #f5fcff no-repeat 20px 12px;
}
#status.success {
  border: 1px #1ab00e solid;
  background: url("accept.png") #fafafa no-repeat 20px 12px;
}
#status.error {
  border: 1px #b00d0e solid;
  background: url("delete.png") #fff5f5 no-repeat 20px 12px;
}
#status > p,
#status > ul {
  font-weight: bold;
  color: #383838;
}
#status > p {
  margin: 0 0 0 40px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}
#status > ul {
  margin: 0 0 0 0;
  padding: 8px 0 6px 80px;
}
#status > ul > li {
  margin: 0;
  padding: 5px 0;
}
